* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: unset;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    &.opacity {
        opacity: 0.5;
    }
    max-width: 1024px;
    display: block;
    margin: auto;
    opacity: 1;
    transition: 0.5s;
    .header {
        position: relative;
        height: 300px;
        &-background {
            top: 0;
            left: 0;
            opacity: 0.5;
            width: 100%;
            max-height: 100%;
            position: absolute;
            z-index: -1;
            object-fit: cover;
        }
        &-nav {
            display: flex;
            justify-content: space-between;
            height: 100%;
            i {
                color: white;
                font-size: 28px;
                margin: 5px 10px;
            }
            &-search {}
            &-logo {
                img {
                    width: 250px;
                }
            }
            &-socials {}
        }
    }
    main {
        .section-block {
            color: white;
            background-color: rgb(33, 33, 33);
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            &s {
                position: relative;
                padding: 20px;
                width: 25%;
                height: 200px;
                border: 1px solid cyan;
                &-title {
                    display: flex;
                    align-items: flex-end;
                    h2 {
                        font-size: 30px;
                    }
                    p {
                        line-height: 23px;
                    }
                }
                &-text {
                    text-transform: uppercase;
                    color: cyan;
                    margin-top: 30%;
                    &--flex {
                        color: cyan;
                        margin-top: 20px;
                        display: flex;
                        i {
                            margin-right: 10px;
                            font-size: 20px;
                        }
                    }
                }
                &--vignette {
                    opacity: 0;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    transition: 0.5s;
                    overflow: hidden;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                    &:hover {
                        opacity: 1;
                    }
                    &::before {
                        content: '';
                        background: black;
                        opacity: 0.7;
                        width: 150%;
                        height: 100%;
                        position: absolute;
                        transform: rotate(340deg);
                        bottom: -120px;
                    }
                    i {
                        position: absolute;
                        font-size: 25px;
                        bottom: 10px;
                        right: 10px;
                    }
                }
                .show {
                    display: block;
                    z-index: 10;
                    opacity: 1;
                    position: fixed;
                    width: 90vw;
                    height: 90vh;
                    top: 5vh;
                    display: flex;
                    align-items: center;
                    img {
                        width: 50%;
                        object-fit: contain;
                    }
                }
                .hidden {
                    display: none;
                }
            }
        }
    }
}